
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="500" [src]="img">

<hr />

<h1>Propiedades con objetos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="500" [src]="person.avatar">


<hr />
<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>

<p>3 + 3 = {{3 + 3}}</p>
<!--Interpolacion con TS
Interpolation
Son formas en que nosotros podemos enviar variables
desde nuestro componente en typescript hacia el HTML-->
<h3>Hola, soy {{ name }} y tengo {{age}}</h3>

<img src={{img}} alt="image">


<!--Property Binding

Es la forma en que nostoros podemos modificar atributos desde el controlador
y mandarle a esto los atributos de html -->



<hr />

<h1>Eventos Binding de Angular</h1>
<p>Edad {{person.age}}</p>
<button (click)="increage()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, facere! Quos laudantium qui aperiam molestiae sed quam accusantium, similique labore, rem asperiores totam dignissimos culpa tempora veniam aliquam tenetur in?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nostrum laboriosam fugit recusandae, iure a dicta enim aliquid totam ullam debitis, repellat doloremque nemo maiores delectus corporis non ea! Nisi!
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis nesciunt est aspernatur quod aut nam magni rerum itaque eligendi neque, maxime dignissimos, impedit placeat omnis ducimus. Reiciendis in laudantium asperiores!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eaque explicabo rerum eius minus ea quaerat officiis nobis blanditiis! Temporibus expedita eveniet voluptates fugiat id facilis provident molestiLoremas molestiae ipsum.
 </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>

<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>

