<h1>NgClass and NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<!--[class.valid]="nameInput4.valid"
[class.invalid]="nameInput4.invalid" -->
<hr class="line-error" [ngClass]="{
'valid': nameInput4.valid,
'invalid': nameInput4.invalid
}" />
<p class="message-error" [class.active]="nameInput2.invalid">El campo es requerido</p>
<div class="clase-padre">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background': box.background,
    'display': 'block'
  }"></div>
</div>
<hr />
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.active]="nameInput2.invalid">El campo es requerido</p>
<Label>Nombre</Label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal' "> Texto - Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Sed sapiente voluptas consectetur sit! Nemo nisi ratione veniam! Cumque, dolorem molestias. Possimus
  debitis dolore repudiandae quis vitae error porro in natus.</p>
<div class="clase-padre">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>

  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar">

  </div>
</div>

<hr />
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'carlitos'">
    La persona es carlitos
  </p>
  <p *ngSwitchCase="'julio'">
    La persona es julio
  <p *ngSwitchCase="'belia'">
    La persona es belia
  </p>
  <p *ngSwitchDefault>
    NO hace match
  </p>
</div>

<!--<p *ngIf="person.name === 'carlitos'">
  La persona es carlitos
</p>
<p *ngIf="person.name === 'julio'">
  La persona es julio>
<p *ngIf="person.name === 'belia'">
  La persona es belia
</p> -->
<hr />
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.img" alt="image">
    <h2>{{ product.name }}</h2>
    <p>{{product.price}}</p>
    <h3>{{product.category}}</h3>
  </div>

</div>

<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <!--La variable name -- esta almacenando lo que esta en el array names-->

  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'carlos'">Soy carlos porque se cumple la condición</p>
<p *ngIf="person.name === 'alberto' && person.age === 18; else elseBlock">Soy Alberto</p>

<ng-template #elseBlock>
  <p> Bloque de else</p>
</ng-template>
<hr />
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Age {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>

<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="500" [src]="img">

<hr />

<h1>Propiedades con objetos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="500" [src]="person.avatar">


<hr />
<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>

<p>3 + 3 = {{3 + 3}}</p>
<!--Interpolacion con TS
Interpolation
Son formas en que nosotros podemos enviar variables
desde nuestro componente en typescript hacia el HTML-->
<h3>Hola, soy {{ name }} y tengo {{age}}</h3>

<img width="200" src={{img}} alt="image">


<!--Property Binding

Es la forma en que nostoros podemos modificar atributos desde el controlador
y mandarle a esto los atributos de html -->



<hr />

<h1>Eventos Binding de Angular</h1>
<p>Edad {{person.age}}</p>
<button (click)="increage()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, facere! Quos laudantium qui aperiam molestiae sed
    quam accusantium, similique labore, rem asperiores totam dignissimos culpa tempora veniam aliquam tenetur in?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nostrum laboriosam fugit recusandae, iure a dicta
    enim aliquid totam ullam debitis, repellat doloremque nemo maiores delectus corporis non ea! Nisi!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis nesciunt est aspernatur quod aut nam magni rerum
    itaque eligendi neque, maxime dignissimos, impedit placeat omnis ducimus. Reiciendis in laudantium asperiores!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eaque explicabo rerum eius minus ea quaerat
    officiis nobis blanditiis! Temporibus expedita eveniet voluptates fugiat id facilis provident molestiLoremas
    molestiae ipsum.
  </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
